﻿@model IEnumerable<Design.Models.Friend>
@{
    ViewBag.Title = "ShowFriends";
}

<h2>ShowFriends</h2>

@foreach (var fr in Model)
{
    if (fr.Id == null)
    {
        <span> Anonim </span>
    }
    else
    {
        <span> @fr.Id </span>
    }

    
}

