html,body
{
    width: 100%;
    height: 100%;
}
body {
    min-width: 320px;
}

.main-block-left, .main-block-right {
    height: 100%;
    padding: 5px;
}
.menu-class {
    position: absolute;
    height: auto;
    padding: 12px 60px;
    background: rgba(255,255,255,0.8);

    top: 20px;
    left: 20px;
    z-index: 9999;
}
ul.menu {
    margin-top: 5px;
    margin: 0px;
    padding: 0;
    list-style: none;
}
.pict2 p, .pict3 p {
    position: absolute;
    color: white;
    top: 25%;
    width: 100%;
    padding: 0 15px;
    text-align: center;
    font-size: 20px;
}
.main-block-right {
    padding:0px 0;
}
.subscraible {
    font-size: 16px;
    color: white;
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.previousLink,.nextLink {
    position: absolute;

    top: 46%;
    height: 50px;
    opacity: 0.5;
}
.previousLink {
     right: 0;
 }
.nextLink {
    left: 0;
    transform: rotate(180deg);
}
.image-show {
    height: 100%;
}

.image-hidden {
    height: 100%;
    display: none;
}
.previousLink:hover,.nextLink:hover{
    cursor: pointer;
    opacity: 1;
}
.pict2:hover:before, .pict3:hover:before{
    position: absolute;
    width: 100%;
    height:100%;
    content: '';
    display: block;
    background: rgba(0,0,0,0.5);
    left:0;
    top:0;
    cursor: pointer;

}
.main-block-left .carousel-inner {
    width: 100%;
    height:100%;
    overflow: hidden;
    display: block;

}
.main-block-left img {
    max-width: none;
    height:100%;
    width: auto;

}
.main-block-right img {
    height:100%;
    max-width: none;
    width: auto;

}
.main-block-right .pict2, .main-block-right .pict3{
    width: 100%;
    height:48.9%;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    position: relative;
    margin: 5px 0;
}


.loader
{
    display:    none;
    position:   absolute;
    z-index:    1000;
    top:        45%;
    left:       45%;
}









