/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
.main-block-right, .main-block-left {
    width: 50%;
    box-sizing: border-box;
    float: left;
}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

    body
    {
        background: black;
    }
    .main-block-right, .main-block-left {
        width: 100%;
        float: none;
        height: auto;
        padding: 0 5px;
    }
    .main-block-left .carousel-inner {
        height:auto;
    }
    .main-block-right img, .main-block-left img {
        height: auto;
        max-width: 100%;
        width: 100%;
    }
    ul.menu li {
        float: left;
        padding: 0 15px;
        font-size: 12px;
    }
    ul.menu {
        margin: 0 auto;
        display: block;
        overflow: hidden;
        max-width: 300px;
        width: 100%;
    }
    .menu-class {
        position: relative;
        padding: 0px 0px;
        top:0px;
        bottom: auto;
        right: 0;
        left:0;
        width: 100%;
        background-color: #f4f4f4;
        margin-bottom: 10px;
    }
    .subscraible {
        position: relative;
        background-color: #f4f4f4;
        color: black;
        left: 0px;
        width: 100%;
        padding: 0 0;

    }
    .subscraible p {
        text-align: center;
    }
    .menu-class h5 {
        padding: 0px 0px;
        text-align: center;
        background-color: white;
    }
    .previousLink, .nextLink {
        height: 30px;
    }
    .previousLink img, .nextLink img{
        height: 100%;
    }

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}