﻿
body{
    height:100%;
    background-color:#f9f9f9;
}
.container{
    padding:0px;
}
.row{
    margin: 0px;
}

.friend-inf{
    height: 150px;
    width:100%;
    margin: 5px 0px;
    background-color:#ffffff;
}
.left-block{
    height: 100%;
    position:relative;
}
.right-block{
    height: 100%;
    padding:0px 0px;
    position:relative;
    overflow:hidden;
}
.btn{
    height:50px;
    width:200px;
    display: block;
    margin: 0 auto;
    position:relative;
    top:50%;
    margin-top: -25px;
}
.right-block span{
    margin:50px;
}
.addNewFriendRequest, .deleteNewFriendRequest{
    height:50px;
    width:200px;
    display: block;
    margin: 0 auto;
    position:relative;
    top:10%;
    margin-top: 10px;
}

/*TODO: IN NEW SCRIPT FILE*/
@media only screen and (max-width : 600px) {
.left-block{
    width: 100%;
    height:100px;
}
.right-block{
    width:100%;
    height:50px;
}
.btn{
    width:100%;
}
}
