﻿@{
    ViewBag.Title = "Home Page";
}


<div ng-app="app">
    
    <input type="button" value="Redirct to CustomerView" onclick="window.location.href='@Url.Action("CustomerView", "Home")';" />
    </p>
    {{1+1}}
    </p>
    <div ng-controller="myControler"></div>
    <h2>{{universityName}} name</h2>
</div>


