﻿@model IEnumerable<Design.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
}

<h2>Show All Users</h2>

@foreach (var item in Model) {
<p>EMAIL:  @item.Email</p>
<p>-------------------</p>
}


