﻿@model IEnumerable<Design.Models.Friend>
@{
    ViewBag.Title = "ShowFriends";
}
@using Microsoft.AspNet.Identity;

<h2>ShowFriends</h2>

@foreach (var fr in Model) {

    if (User.Identity.GetUserId() == fr.FirstFriend.Id)
    {
        <p>@fr.Id </p>
        <p>@fr.SecondFriend.Email</p>
    <p>-----------------------------</p>
    }
    else
    {
        <p>@fr.Id </p>
        <p>@fr.FirstFriend.Email</p>
     <p>-----------------------------</p>
    }
}

