﻿@*@model IEnumerable<Design.Models.Post>*@

@{
    ViewBag.Title = "UserPosts";
}

@Styles.Render("~/Content/Home/css")

<div class="row">
    <home-component> </home-component>
</div>
@*<div ng-app="app" ng-controller="PostCtrl">
    <table class="table" ng-repeat="m in all">
    </table>
</div>*@



@*<div id="showInformationUser">

    @foreach (var post in Model)
    {

        <div class="information-menu col-md-12 col-sm-12 col-xs-12" id="IdBLock_@post.Id">

            <div class="posterInformation col-md-9">
                <span class="name-atr"> @post.Author.Email</span>
                <p>@post.Date</p>
                <p id="Title_@post.Id">@post.Title</p>
                <p id="Text_@post.Id">@post.Text</p>
            </div>

        </div>
    }
</div>*@









