﻿
@model IEnumerable<Design.Models.Post>

@{
    ViewBag.Title = "Post";
}

@Styles.Render("~/Content/Home/css")

<div class="container">
    <div class="input-menu col-md-12">
        <div class="title-in col-md-7 col-sm-6 col-xs-6">
            <span>Title</span>
            </br>
            </br>
            <input type="text" id="Tit" name="Title" />
        </div>
        <div class="description-in col-md-5 col-sm-6 col-xs-6">
            <span>Description</span>
            <br />
            <br />
            <input type="text" id="Tex" name="Text" />
            <button type="submit" class="btn-send">Send</button>
        </div>
    </div>

    <div id="showInformationUser">
        @foreach (var post in Model)
    {

            <div class="information-menu col-md-12 col-sm-12 col-xs-12" id="IdBLock_@post.Id">

                <div class="posterInformation col-md-9">
                    <span class="name-atr"> @post.Author.Email</span>
                    <p>@post.Date</p>
                    <p id="Title_@post.Id">@post.Title</p>
                    <p id="Text_@post.Id">@post.Text</p>
                </div>

                <div class="buttons col-md-3">
                    <button class="btn-edit" id="Edit_@post.Id">Edit</button>
                    <button class="btn-delete" id="Delete_@post.Id">Delete</button>
                </div>
            </div>
    }

    </div>
</div>

<div id="modal_form">
    <span id="modal_close">X</span> <!-- Кнoпкa зaкрыть -->
    <p>Title</p>
    <input type="text" class="TitleEdit"  />
    <p>Description</p>
    <input type="text" class="TextEdit" />
    <br />
    <button class="btn_modal_edit">Change</button>
</div>

<div id="overlay"></div><!-- Пoдлoжкa -->

@Scripts.Render("~/Script/Home/Posts");





