﻿@model Design.Models.Post

@{
    ViewBag.Title = "PostPartialView";
}


<div class="information-menu col-md-12 col-sm-12 col-xs-12" id="IdBLock_@Model.Id">

    <div class="posterInformation col-md-9">
        <span class="name-atr"> @Model.Author.Email</span>
        <p>@Model.Date</p>
        <p id="Title_@Model.Id">@Model.Title</p>
        <p id="Text_@Model.Id">@Model.Text</p>
    </div>

    <div class="buttons col-md-3">
        <button class="btn-edit" id="Edit_@Model.Id">Edit</button>
        <button class="btn-delete" id="Delete_@Model.Id">Delete</button>
    </div>
</div>



