﻿@model IEnumerable<Design.Models.UserFriend>

@Styles.Render("~/Content/Home/css")

@{
    ViewBag.Title = "Home Page";
    
}
 
    @foreach (var item in Model)
    {
             <div class="row friend-inf">
                <div class="col-md-8 col-sm-7 col-xs-8 left-block">
                    <strong style="top: 43%;left: 20%;position: relative;">@item.Id</strong>
                    <p>@item.LastName</p>
                    <p>@item.FirstName</p>
                    <p>@item.Status</p>
                    <p>@item.IdInFriendsDb</p>
               </div>
                @if (item.Status == 0)
                {
                <div class="col-md-4 col-sm-5 col-xs-4 right-block" id="right-block_@item.Id">
                    <button type="button" class="btn btn-primary deleteFriend" id="deleteFriend_@item.Id">Delete Friend</button>
                </div>
                }
                else if (item.Status == 1 && item.Follower == true)
                {
                    <div class="col-md-4 col-sm-5 col-xs-4 right-block" id="right-block_@item.Id">
                        <button type="button" class="btn btn-default addNewFriendRequest" id="addNewFriendRequest_@item.Id">Add to Friend</button>
                        <button type="button" class="btn btn-info deleteNewFriendRequest" id="deleteNewFriendRequest_@item.Id">Delete request</button>
                    </div>

                }
                else if (item.Status == 1 && item.Follower == false)
                {
                    <div class="col-md-4 col-sm-5 col-xs-4 right-block" id="right-block_@item.Id">
                        <button type="button" class="btn btn-info deleteRequest" id="deleteRequest_@item.Id">Delete request</button>
                    </div>
                }
                else if (item.Status == 2)
                {
                    <div class="col-md-4 col-sm-5 col-xs-4 right-block" id="right-block_@item.Id">
                        <button type="button" class="btn btn-default addFriend" id="addFriend_@item.Id">Add Friend</button>
                    </div>
                }
            </div>
    }

@Scripts.Render("~/Script/Home/Friends")



