﻿.container {
  padding-top: 10px;
  
}
#popUpDialog-bg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}
#popUpDialog {
  position: fixed;
  width: 350px;
  height: 250px;
  left: 50%;
  margin-left: -125px;
  margin-top: 5%;
  padding: 15px;
  border-radius: 5px;
  background: white;
}

input, select, textarea {
    max-width:100%;
    width: 100%;

}

.TextEdit{
    height:90px;
    margin-bottom:10px;
}

.btn_modal_edit{
    width:100%;
    color:black;
    background-color:#ff2a2a;
    border-radius:10px;
}
#popUpDialog .content {
  margin-bottom: 15px;
  text-align: center;
}
#popUpDialog .buttons-container {
  width: 80%;
  margin: 0 auto;
}

#modal_close {
	height: 21px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: block;
}