﻿@{
    ViewBag.Title = "Index";
}

@model AutorizationLesson2.Models.ApplicationUser


    <h4>Id:    @Model.Id</h4>
    <h4>Email:    @Model.Email</h4>
    <h4>PasswordHash: @Model.PasswordHash </h4>
    <h4>LastName: @Model.LastName</h4>
    <h4>FirstName: @Model.FirstName</h4>
