﻿
body
{
    background-color:#f9f9f9;
}

.chat-rooms,.rooms
{
    background-color : #ffffff;
}
.rooms
{
    
    width : 25%;
    height : 500px;
    margin: 5px 2% 5px 1%;
    float : left;
}
.room 
{
    position : relative;
    width: 100%;
    height: auto;
    background-color: #055fcc;
    padding:25px;
}
.picture-block {
    width: 35%;
    padding-right: 30px;
    box-sizing: border-box;
    float: left;
}
.picture-block img {
    height:40px;
}
.text-block {
   color: white;
    width: 60%;
    overflow: hidden;
}
.text-block .title
{
    font-size : 14px;
}
.text-block .online
{
    font-size : 7px;
}

.chat-rooms
{

    width: 72%;
    min-height: 500px;
    margin : 5px 0 5px 0;
    float : left;
    

}
.top-chat-rooms
{
    height : 55px;
    width : 100%;
    border-bottom : 1px solid #808080;
    position:relative;
}
.input-text input
{
    width: 72%;
    height: 52px;
    border: none;
    padding-left:100px;
}
input, select, textarea {
    max-width: 100%;
}

.button-edit
{
    border-radius : 8px;
    background-color : #0088cc;
    border :none;
    width : 100px;
    height : 35px;
    color: #ffffff;

}

.sign-question, .sign-friends
{
height : 25px;
margin-left: 2%;
}

.main-chat
{
    
    height: auto;
}
.user-nick
{

background-color:#ffffff;
min-height: 200px;
}
.picture-user
{
    margin: 20px 20px auto;
    height:45px;
    width:45px;
    float:left;
}
.name-user
{
    font-weight:700;
}
.online-ago
{
    color: #7f7f7f;
}
.user-nick p
{
    padding-left: 10.5%;;
}

.users-coment
{
    height: 75%;
}
.user-nick .like, .dislike, .dialog-icon
{
    height:25px;
    width:25px;
}
.user-nick .like
{
       margin : 0px 10px 0px 10.5%;
}
.dialog-icon
{
    margin-left: 70%;
}

.in-pute{
    padding-left:120px;
}
.in-pute .picture-user {
    width: 35px;
   height:35px;
}
.voice-btn {
    position:absolute;
    top:10px;
    width:30px;
    height:30px;
    left:50px;
}
.voice-btn img {
    width:30px;
    height:30px;
}

.coments{
    position: relative;
}
.comennts-field
{
width: 100%;
height: 70px;
border: none;
border-top: 1px solid #878787;
padding-left:40px;


}
.take-photo img
{
    width: 30px;
    height: 30px;
   position: absolute;
    right: 10px;
    top: 20px;
}