﻿@{
    ViewBag.Title = "Home Page";
}

<script src="~/app/app.js"></script>

<div class="row" ng-app="app">
    {{1+1}}

    <div ng-controller="phoneController">
        <table>
            <thead>
                <tr>
                    <th>email</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in userList">
                    <td>{{item.Id}}</td>
                </tr>
            </tbody>
        </table>
        @*<p>Название: {{phone.name}}</p>
        <p>Цена: {{phone.price}} $</p>
        <p>Производитель: {{phone.company.name}}</p>*@
        
    </div>



</div>