﻿
<div id="scroll" scroll-bottom>
    <div id="{{item.id}}" class="post" ng-repeat="item in $ctrl.Posts.Posts">
        <div class="information-menu col-md-12 col-sm-12 col-xs-12" id="IdBLock_{{item.Id}}">

            <div class="posterInformation col-md-9">
                <span class="name-atr"> {{item.AuthorPostEmail}}</span>
                <p>{{item.Date | mydate | date: 'yyyy-MM-dd HH:mm'}}</p>
                <p id="Title_{{item.id}}"> {{item.Title}}</p>
                <p id="Text_{{item.id}}"> {{item.Text}}</p>
            </div>

            <div class="left-menu col-md-3">

                <div class="button" >
                    <button class="btn-edit" id="Edit_{{item.id}}" ng-show="item.OwnPost" ng-click="$ctrl.Show(item)">Edit</button>
                    <button class="btn-delete" id="Delete_{{item.id}}" ng-show="item.OwnPost" ng-click="$ctrl.Delete(item.id)">Delete</button>
                </div>

                <div class="likeMenu" ng-show="item.OwnLike">
                    <img class="like" src="\Content\PostAng\dislike_icon.png" ng-click="$ctrl.DeleteLikeFromPost(item)" />
                    <p>{{item.CountLike}}</p>
                </div>

                <div class="likeMenu" ng-show="!item.OwnLike">
                    <img class="like" src="\Content\PostAng\like_icon.png" ng-click="$ctrl.AddLikeToPost(item)" />
                    <p>{{item.CountLike}}</p>
                </div>

            </div>
            

        </div>
    </div>
</div>

<pop-up-dialog ng-show="$ctrl.Posts.showPopUp"></pop-up-dialog>


<!--//Подгрузка постов-->
