﻿<div class="input-menu col-md-12">
    <div class="title-in col-md-7 col-sm-6 col-xs-6">
        <span>Title</span>
        </br>
        </br>
        <input type="text" id="Tit" name="Title" ng-model="post.Title" />
    </div>
    <div class="description-in col-md-5 col-sm-6 col-xs-6">
        <span>Description</span>
        <br />
        <br />
        <input type="textarea" id="Tex" name="Text" ng-model="post.Text"/>
        <button type="submit" class="btn-send" ng-click="$ctrl.Show()">Send</button>
    </div>
</div>
