﻿<link href="../../../Content/PostAng/modalWindow.css" rel="stylesheet" />

<div id="popUpDialog-bg">
    <div id="popUpDialog">
        <div class="content"></div>
        <span id="modal_close" ng-click="$ctrl.Close()" >X</span> <!-- Кнoпкa зaкрыть -->
        <p>Title</p>
        <input type="text" class="TitleEdit" ng-model="$ctrl.Posts.TempPost.Title" />
        <p>Description</p>
        <textarea type="text" class="TextEdit" ng-model="$ctrl.Posts.TempPost.Text"/>
        <br />
        <button class="btn_modal_edit btn-danger" ng-click="$ctrl.EditPost($ctrl.Posts.Post)" >Change</button>
    </div>
</div>


