﻿@{
    ViewBag.Title = "Home Page";
}

@Styles.Render("~/Content/Home/css")

    <div class="rooms">
        <div class="room">
            <div class="picture-block"><img class="image" src="http://dermatyt.ru/wp-content/uploads/2015/02/190412_5.jpg" /></div>
            <div class="text-block">
                <span class="title">Who love men and women</span> <br />
                <span class="online"> ONLINE </span>
            </div>
        </div>
    </div>

    <div class="chat-rooms">
        <div class="top-chat-rooms">
            <div class="voice-btn"> <a href="#"><img src="~/Content/sign_question.png"></a></div>
            <div class="input-text">
            <input type="text" />
            <button class="button-edit" type="button"> Edit</button>
            <img class="sign-question" src="~/Content/Sign_question.png" />
            <img class="sign-friends" src="~/Content/users-top.png" />
            </div>
        </div>
        <div class=" main-chat">
        <div class="user-nick">
                <img class="picture-user" src="~/Content/users-top.png" />
                <span class="name-user"> <br />Alex Vasylyk</span> <br />
                <span class="online-ago">1 hour ago</span>
                <p > <br />Very nice. I very much hungry and belive that your principle extends beyond simply the realm of manufactured gods into one's work.
                    Very nice. I very much hungry and belive that your principle extends beyond simply the realm of manufactured gods into one's work.</p>
               
                <img class="like" src="~/Content/like.png">
                <img class="dislike" src="~/Content/dislike.png">
                <img class="dialog-icon" src="~/Content/sign_question.png " />

        </div>
        @for (int i = 0; i < 2; i++)
            {
        <div class="user-nick in-pute">
            <img class="picture-user" src="~/Content/users-top.png" />
            <span class="name-user"> <br />Alex Vasylyk</span> <br />
            <span class="online-ago">1 hour ago</span>
            <p>
                <br />Very nice. I very much hungry and belive that your principle extends beyond simply the realm of manufactured gods into one's work.
                Very nice. I very much hungry and belive that your principle extends beyond simply the realm of manufactured gods into one's work.
            </p>
         
            <img class="like" src="~/Content/like.png">
            <img class="dislike" src="~/Content/dislike.png">
        </div>
         }
        </div>
        <div class="coments">
            <input class="comennts-field" type="text" placeholder="Write your comment..." />
            <div class="take-photo">
                <a href="#"><img src="~/Content/sign_question.png"></a>
            </div>
        </div>
    </div>

    

