﻿@model Design.Models.Post
@{
    ViewBag.Title = "PostPartialView";
}

<div class="information-menu" id="IdBLock_@post.Id">

    @if (post.Author == null)
            {
        <span class="name-atr">Anonim</span>
    }
    else
    {
        <span class="name-atr"> @post.Author.Email</span>
    }

    <div class="buttons">

        <button class="btn-edit" id="Edit_@post.Id">Edit</button>
        <button class="btn-delete" id="Delete_@post.Id">Delete</button>
    </div>
    <br /><br />
    <p>@post.Date</p>
    <p id="Title_@post.Id">@post.Title</p>
    <p id="Text_@post.Id">@post.Text</p>

</div>

