﻿
@model IEnumerable<Design.Models.Post>

@{
    ViewBag.Title = "Post";
}

@Styles.Render("~/Content/Home/css")
    <div class="input-menu">
        <div class="title-in">
            <b>Title <br /><br /></b>
            <input type="text" id="Tit" name="Title" />
        </div>
        <div class="description-in">
            <b>Description <br /><br /> </b>
            <input type="text" id="Tex" name="Text" /><br /><br />
            <button type="submit" class="btn-send" >Send</button>
        </div>
    </div>

<div id="showInformationUser">
    @foreach (var post in Model)
    {
        
        <div class="information-menu" id="IdBLock_@post.Id">

            @if (post.Author == null)
            {
                <span class="name-atr">Anonim</span>
            }
            else
            {
                <span class="name-atr"> @post.Author.Email</span>
            }

            <div class="buttons">
                
                <button class="btn-edit" id="Edit_@post.Id">Edit</button>
                <button class="btn-delete" id="Delete_@post.Id">Delete</button>
            </div>
            <br /><br />
            <p>@post.Date</p>
            <p id="Title_@post.Id">@post.Title</p>
            <p id="Text_@post.Id">@post.Text</p>
            
        </div>
    }
    
</div>

<div id="modal_form">
    <span id="modal_close">X</span> <!-- Кнoпкa зaкрыть -->
    <p>Title</p>
    <input type="text" class="TitleEdit"  />
    <p>Description</p>
    <input type="text" class="TextEdit" />
    <br />
    <button class="btn_modal_edit">Change</button>
</div>
<div id="overlay"></div><!-- Пoдлoжкa -->

@Scripts.Render("~/Script/Home/Posts");





