﻿html{
    min-width:300px;
}
body {
    background-color: #e7e7e7;
    height:100%;

}
.input-menu
{
    height:280px;
    margin:20px 0;
    background-color: #ffffff;
}
.title-in, .description-in
{
    height: 100%;
}
.title-in input
{
    max-width:none;
    border:dashed 1px;
    border-color: #999999;
    border-radius:5px;
    width:80%;
}
.description-in input
{
    max-width:none;
    border:dashed 1px;
    border-color: #999999;
    width: 100%;
    height: 60%;
    border-radius: 9px 9px 0px 0px;
}
.btn-send
{
    margin-top: 3%;
    height: 35px;
    width: 135px;
    border: none;
    background-color: red;
    border-radius: 8px;
    float:right;
}
.name-atr
{
    width: 60%;
    float: left;
    height: 30px;
}
.left-menu{
    height:100%;

}
.button
{
    margin-top:6%;
    height: 60%;
    width: 100%;
    float: left;

}
.likeMenu{
    height:35%;
    width: 100%;
    float: left;
    padding-left:120px;

}

.like{
    float: left;
}

.likeMenu p{
    display:block;
    float:left;
    margin-top:5px;
    margin-left:20px;
}
.information-menu
{
    height: 180px;
    background-color: #ffffff;
    border-radius: 20px;
    margin-right: 17%;
    margin-bottom: 20px;
}
.posterInformation{

    height:100%;
}
.information-menu button
{
    height: 30px;
    width: 85px;
    background-color: #ff2a2a;
    border: black;
    border-radius: 10px;
}
.information-menu p,span
{
    font-size:16px;
}
.btn-edit
{
    margin-right: 20px;
}

.information-menu img{
    height: 30px;

}


#modal_form {
	width: 300px; 
	height: 300px; /* Рaзмеры дoлжны быть фиксирoвaны */
	border-radius: 5px;
	border: 3px #000 solid;
	background: #fff;
	position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
	top: 45%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
	left: 50%; /* пoлoвинa экрaнa слевa */
	margin-top: -150px;
	margin-left: -150px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
	display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
	opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
	z-index: 5; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
	padding: 20px 10px;
}
/* Кнoпкa зaкрыть для тех ктo в тaнке) */
#modal_form #modal_close {
	width: 21px;
	height: 21px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: block;
}
/* Пoдлoжкa */
#overlay {
	z-index:3; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
	position:fixed; /* всегдa перекрывaет весь сaйт */
	background-color:#000; /* чернaя */
	opacity:0.8; /* нo немнoгo прoзрaчнa */
    -moz-opacity:0.8; /* фикс прозрачности для старых браузеров */
	filter:alpha(opacity=80);
	width:100%; 
	height:100%; /* рaзмерoм вo весь экрaн */
	top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
	left:0;
	cursor:pointer;
	display:none; /* в oбычнoм сoстoянии её нет) */
}

@media only screen and (max-width : 600px) {
    .buttons {
        width: 100%;
    }

        .buttons button {
            margin: 0 2.5%;
            float: left;
            height: 30px;
            width: 45%;
            background-color: #ff2a2a;
            border: black;
            border-radius: 10px;
        }

    .title-in, .description-in{
        float:left;
    }
    .title-in{
        width:100%;
        height:30%;
    }
    .title-in input{
        width:100%;
    }
    .description-in{
        width:100%;
        height:70%;
    }
    .description-in input{
        height:50%;
    }
    .btn-send{
        width: 100%;
    }

}
